  .login_content {
    position: absolute;
    top: 15vh;
    left: 5vw;
    right: 5vw;
  }

  .title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 8vh;
    color: #1653c4;
  }
  .back{ 
    img{
      width: 6vw;
      height:6vw;
      transform:rotate(90deg)
    }
  }
  input::-webkit-input-placeholder {
    color: #8ba6ff;
  }

  .input_text {
    border: 0;
    border-bottom: 1px solid #3351fa;
    width: 100%;
    font-size: 20px;
    padding: 5px 0;
    background-color: transparent;
    margin-bottom: 15px;
    color: #1653c4;
  }

  .submit {
    height: 6vh;
    width: 60vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1653c4;
    font-size: 18px;
    border: 0;
    border-radius: 5px;
    position: absolute;
    bottom: -8vh;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 5px #679afa;
  }

  .errmsg {
    color: red;
  }