  .form_content {
    padding: 0 25px;
  }

  .form_content>div {
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .input_text {
    border: 0;
    border-bottom: 1px solid #000;
    width: 40vw;
  }

  .submit {
    margin-top: 10px;
    height: 5vh;
    width: 40vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1653c4;
    border: 0;
    border-radius: 5px;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 5px #679afa;
  }