  .empty {
    height: 700px;
  }
    .text_empty {
    position: absolute;
    top: 35%;
    left: 40%;
    /* color:rgb(191,191,191); */
    color: #6ea5e9;
    font-size: 20px;

  }

  .icon_empty {
    position: absolute;
    top: 20%;
    left: 35%;
    height: 100px;
    width: 130px;
  }